<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Iot Ecuador</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='flatly.min.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>


        <div class="card_ipv4">
            <img src="" alt="Avatar" style="width:100%">
            <div class="container_card_ipv4">
               
              {% for item in items %}
              <h4><b>Dirección: {{item.Direccion}}</b></h4>
              <ul class="list-group">

                <li class="list-group-item">Fecha: {{item.Fecha}} </li>
                <li class="list-group-item">Pais: {{item.Locatizacion.country_name}}</li>
                <li class="list-group-item">Ciudad: {{item.Locatizacion.city}}</li>
                <li class="list-group-item">Codigo: {{item.Locatizacion.region_code}}</li>
                <li class="list-group-item">Latitud: {{item.Locatizacion.latitude}}</li>
                <li class="list-group-item">Latitud: {{item.Locatizacion.longitude}}</li>
				<li class="list-group-item">********************************</li>
				<li class="list-group-item">Dominio: {{item.Dominio}}</li>
				<li class="list-group-item">Dns: {{item.Dns}}</li>
				<li class="list-group-item">********************************</li>
				<li class="list-group-item">Range Ipv4: {{item.Whois.asn_cidr}}</li>
				<li class="list-group-item">Descripción: {{item.Whois.asn_description}}</li>
              </ul>



              
            </div>
          </div>

		
		<div class="container-fluid" id="wrapper">
			<div class="row">
				<div class="col-md-12">
				  <div class="card  card-plain">
					<div class="card-header">
					  <h4 class="card-title"> Lista de Direcciones Ipv4</h4>
					  <p class="category"> Here is a subtitle for this table</p>
					</div>
					<div class="card-body">
					  <div class="table-responsive">
						<table class="table tablesorter " id="">
						  <thead class=" text-primary">
							<tr>
								<th>Image</th>
								<th>Puerto</th>
								<th>Banner</th>
							  </tr>
							</thead>

						
							{% for x in item.puerto %}

								<tbody>

								<tr>
									<th>{{x.Imagen}}</th>
									<th>{{x.Puerto}}</th>
									<th> {{x.Banner}}</th>

								</tr>

								</tbody>
								{% endfor %}
							{% endfor %}
						</table>
					  </div>
					</div>
				  </div>
				</div>
			  </div>


			
	</body>
</html>