.contenedor{
    width: 100%;
    padding: 15px;
  }

.registro{
    background: var(--color-danger-200);
    margin: auto;
    padding: 3px;
    width: 30%;
    margin-bottom: 25px;
    margin-top: 25px;
    justify-content: center;
  }

  h1{
    text-align: center;
    color:var(--color-info-100);
    font-size: 40px;
  }

input[type="text"],
input[type="password"]{
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: none;

}

.input-contenedor{
  margin-bottom: 5px;
  margin-top: 0px;
  width: 300px;
}

.icon{
  min-width: 50px;
  text-align: center;
  color: var(--color-info-100);
}
.button{
  border: none;
  width: 40%;
  color: var(--color-info-100);
  font-size: 20px;
  background: black;
  padding: 20x 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.button:hover{
  background: var(--color-info-300);
}
p{
  text-align: center;

}
.link{
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

.link:hover{
  color:var(--color-success-600);

}
@media(min-width:768px){
  .regitro{
    margin: auto;
    width: 500px;
    margin-top: 150px;
    border-radius: 2%;
  }
}
.login-box {
  width: 350px;
  height: 380px;
  background-color: #0a0a0a;
  margin: auto;
  padding: 20px 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  box-sizing: border-box;
  border-radius: 2%;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  color: var(--color-info-100);
  font-size: 30px;
}
.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: var(--color-info-100);
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type="password"] {
  border: none;
  background: transparent;
  outline: none;
  height: 40px;
  color: var(--color-success-600);
  font-size: 16px;
}

.login-box input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  height: 40px;
  color: var(--color-success-600);
  font-size: 16px;
  width: 300px;
}


.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: var(--color-success-600);
  color: var(--color-info-100);
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: var(--color-info-600);
  color: var(--color-info-100);
}


.login-box a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-info-100);
}
.login-box a:hover {
  color: var(--color-success-600);
}


.login-box1 {
  width: 350px;
  height: 700px;
  background-color: #0a0a0a;
  margin: auto;
  padding: 20px 30px;
  border-radius: 2%;
  margin-bottom: 50px;
  margin-top: 50px;
  box-sizing: border-box;
}
.login-box1 .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}
.login-box1 h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  color: var(--color-info-100);
  font-size: 40px;
}
.login-box1 label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: var(--color-info-100);
}
.login-box1 input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box1 input[type="password"] {
  border: none;
  background: transparent;
  outline: none;
  height: 40px;
  color: var(--color-success-600);
  font-size: 16px;
  width: 300px;
}

.login-box1 input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  height: 40px;
  color: var(--color-success-600);
  font-size: 16px;
  width: 300px;
}


.login-box1 input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: var(--color-success-600);
  color: var(--color-info-100);
  font-size: 18px;
  border-radius: 20px;
}

.login-box1 input[type="submit"]:hover {
  cursor: pointer;
  background: var(--color-info-600);
  color: var(--color-info-100);
}


.login-box1 a {
  text-decoration: none;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-info-100);
}
.login-box1 a:hover {
  color: var(--color-success-600);
}