
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.caja{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    margin: 10px;
}

.caja-image{
   
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
}
.caja-1{
    background-image: url('https://en.ipshu.com/picture/190.110.222.png');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.caja-2{
    background-image: url('https://i.blogs.es/f83df6/dispositivos-conectados/1366_2000.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.caja a{
    background-color: rgb(61, 61, 110);
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
.caja:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}