#main-container{
    width: 1000px;
    margin: 120px auto;
}

table{
    background-color: #ddd;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

th, td{
    
    padding: 20px;
}
thead{
    background-color: rgb(61, 61, 110);
    border-bottom: solid 5px  #0a5fcf;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;

}
tr:hover td{
    background-color:  #0a5fcf;
    color: white;
}
p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
h4{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; 
}
h5{
    color: white;
}
.category{
    text-align: center;
    color: black;
}
.box{
    position: relative;
    left: 25%;
    top: 80%;
    transform: translate(-10%, -30%);
    padding-bottom: 25px;
    padding-top: 25px; 
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
#cars{
    
    width: 150px;
    height: 50px;
    background: rgb(61, 61, 110);
    color: white;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}
input[type="text"]{
    background: #fff;
    width: 340px;
    height: 50px;
    left: -5px;
    border: none;
    outline: none;
    padding: 0 25px;
    
    
}

input[type="submit"]{
    position: relative;
    left: -10px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(61, 61, 110);
    color: white;
}
input[type="submit"]:hover{
    background: #0a5fcf;
    
}
#lista{
    color: white;
}
h6{
    color: white;
    font-size: 20px;
}
.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    background-color: #ddd;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    }
.table-wrapper-scroll-y {
    display: block;
    }
   