
#main-container{
    width: 1000px;
    margin: 120px auto;
}

table{
    background-color: rgba(0,0,0,0.3);
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

td{
    padding: 20px;
    color: black;
}

th{
    padding: 22px;
    color: var(--color-info-100);
}

  /* visited link */
a:visited {
    color: var(--color-warning-900);
  }
  
  /* mouse over link */
a:hover {
    color: var(--color-info-100);
  }
  

thead{
    background-color: var(--color-info-800);
    border-bottom: solid 5px  var(--color-info-900);
    color: var(--color-info-100);
}
tr:nth-child(even){
    background-color: var(--color-info-100);
}
tr:hover td{
    background-color: var(--color-info-600);
    color: var(--color-info-100);
}
p{
    color: var(--color-info-100);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
h4{
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; 
}
h5{
    color: var(--color-info-100);
}

.category{
    text-align: center;
    color: black;
}

.box{
    position: relative;
    left: 25%;
    top: 80%;
    transform: translate(-10%, -30%);
    padding-bottom: 25px;
    padding-top: 25px; 
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

#cars{
    width: 150px;
    height: 50px;
    background: var(--color-info-800);
    color: var(--color-info-100);
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
}

option{
    background-color: var(--color-info-800);
}

option:hover{
    background-color: var(--color-info-800);
}


input[type="text"]{
    background: var(--color-info-100);
    width: 340px;
    height: 50px;
    left: -5px;
    border: none;
    outline: none;
    padding: 0 25px;
    
    
}

input[type="submit"]{
    position: relative;
    left: -10px;
    border-radius: 0 25px 25px 0;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--color-info-800);
    color: var(--color-info-100);
}

input[type="submit"]:hover{
    background: var(--color-info-500);
    
}
#lista{
    color: var(--color-info-100);
}
h6{
    color: var(--color-info-100);
    font-size: 20px;
}
.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    background-color: var(--color-info-100);
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    }
.table-wrapper-scroll-y {
    display: block;
    }
   