<!doctype html>
<html lang="en">
<head><meta charset="utf-8">
  <title>{% block title %}IoT ecuador{%endblock %}</title>
    <!-- Bootstrap -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css'" rel="stylesheet">
     
    <!-- Styles -->
    <link href="static/css/gestion.css" rel="stylesheet">
    <link href="static/css/autenticar.css" rel="stylesheet">
    <link href="static/css/tabla.css" rel="stylesheet">
    <link href="static/css/blog.css" rel="stylesheet">
    <link  href="static/css/map.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/9fe26e1c40.js" crossorigin="anonymous"></script>

    <!--Map script-->
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/ec/ec-all.js"></script>
    

    <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
</head>

<body>
  <!-- Navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
     <div class="container">
       <a class="navbar-brand" href="/">Iot_Ecuador</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav mx-auto">
           
          {% if current_user.is_authenticated%}

            {% if current_user.role == 'admin' %}
      
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/admin_panel">User Control Panel </a>
            </li>
            {%endif%}

          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item active px-lg-4">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Cuenta
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/profile">Perfil</a>
              <a class="dropdown-item" href="/password">Contraseña</a>
              <a class="dropdown-item" href="/logout">Salir</a>
            </div>
          </li>

          
         

          {% else %}
          
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/register">Registro</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="/login">Login</a>
          </li>

          {% endif %}

         </ul>
       </div>
     </div>
   </nav>
 </header>
 <body>
   
 
</body>
     <!-- Contenido que cambiara  -->
     {%block content%}
     {% endblock %}
   
</body>
     <!-- Footer -->
     <footer>
       <div class="contenedor-footer">
           <div class="content-foo">
               <h4>ESFOT</h4>
               <p></p>
           </div>
           <div class="content-foo">
               <h4>Email</h4>
               <p>usuario@epn.edu.ec</p>
           </div>
           <div class="content-foo">
               <h4>Escuela Politécnica Nacional</h4>
               <p>Quito-Ecuador</p>
           </div>
       </div>
       <h2 class="titulo-final">&copy; Jefferson Llumiquinga | Edison Jumbo</h2>
   </footer>
 
     <!-- Bootstrap -->
     <script src="static/vendor/jquery/jquery.min.js"></script>
     <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      
 </body>



</html>