

{%extends "Access/base.html"%}

{%block content%}
<!-- Heading -->
<main>

  <section class="contenedor sobre-iot">
    <h2 class="titulo">Internet of things</h2>
    
    <div class="contenedor-sobre-iot " id="container">
        
    <script >
            
            // Prepare demo data
            // Data is joined to map using value of 'hc-key' property by default.
            // See API docs for 'joinBy' for more info on linking data and map.
           
            var data = {{capilalizes | safe }}

            // Create the chart
            Highcharts.mapChart('container', {
                chart: {
                    map: 'countries/ec/ec-all',
                    borderRadius: 10,
                    backgroundColor: '#ffffff' // 0a0a0a
                },

                title: {
                    text: 'Mapa de Direcciones IPv4 con puertos IoT activos ',
                    style: {
                        color:'#0a0a0a'
                    }
                    
                },

                subtitle: {
                    text: '<b>Estado por provicias del Ecuador</b>',
                    style: {
                        color:'#0a0a0a'
                    }
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom',
                    }
                },

                colorAxis: {
                    min: 0,
                    minColor:"#bbbdb9", //azul a rojo, mapa de calor
                    maxColor:"#c60000"   
                },

                series: [{
                    data: data,
                    name: 'Direcciones con puertos activos',
                    states: {
                        
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                    
                }]
            });

        </script>

    </div>
    
</section>
</main>


  


<section class="portafolio">
  <div class="contenedor"equipos>
      <h2 class="titulo">Dispositivos IoT</h2>
      <div class="galeria-port">
          <div class="imagen-port">
              <img src="static/img/camara.png"  alt="" style="width: 200px; height: 200px;">
              <div class="hover-galeria">
                  <p>camara web</p>
              </div>
          </div>
          <div class="imagen-port">
              <img src="static/img/controlador.jpg"  alt="" style="height: 200px; width: 200px;">
              <div class="hover-galeria">
                  
                  <p>Controlador de tiras led Wifi</p>
              </div>
          </div>
          <div class="imagen-port">
              <img src="static/img/enchufe.jpg"  alt="" style="height: 200px; width: 200px;">
              <div class="hover-galeria">
                  
                  <p>Enchufe inteligente Wifi</p>
              </div>
          </div>
          <div class="imagen-port">
              <img src="static/img/foco.jpg"  alt="" style="height: 200px; width: 200px;">
              <div class="hover-galeria">
                  
                  <p>Foco inteligente Wifi</p>
              </div>
          </div>
          <div class="imagen-port">
              <img src="static/img/interruptor.png"  alt="" style="height: 200px; width: 200px;">
              <div class="hover-galeria">
                  
                  <p>Interruptor inteligente  Wifi</p>
              </div>
          </div>
          <div class="imagen-port">
              <img src="static/img/google.jpg"  alt="" style="height: 200px; width: 200px;">
              <div class="hover-galeria">
                  
                  <p>Google Home</p>
              </div>
          </div>
          <div class="imagen-port">
              <img src="static/img/videoportero.jpg"  alt="" style="height: 200px; width: 200px;">
              <div class="hover-galeria">
                  
                  <p>Videoportero Ip</p>
              </div>
          </div>
          <div class="imagen-port">
              <img src="static/img/climatizacion.jpg"  alt="" style="height: 200px; width: 200px;">
              <div class="hover-galeria">
                  <p>Climatización y calefacción</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="team contenedor">
<h2 class="titulo">Acerca de nosotros</h2>
<div class="cards">
    <div class="card">
        <img style=" background-size: cover;" src="static/img/jefferson.jpg" alt="">
        <div class="contenido-texto-card">
            <h4 style="color: white;">Jefferson Llumiquinga</h4>
            <p>Tecnólogo en Análisis de Sistemas Informáticos</p>

        </div>
    </div>
    <div class="card">
        <img  src="static/img/Edison.jpeg" alt="">
        <div class="contenido-texto-card">
            <h4 style="color: white;">Edison Jumbo</h4>
            <p>Tecnólogo en Análisis de Sistemas Informáticos</p>
        </div>
    </div>
</div>
</section>
<section class="about-services">
<div class="contenedor">
    <h2 class="titulo">Aplicaciones IoT</h2>
    <div class="servicio-cont">
        <div class="servicio-ind">
            <img src="static/img/aplicacion1.jpg" alt="" height="200px" width="200px">
            <h3 style="color: white;">Wearables</h3>
            <p>Gafas virtuales, bandas fitness para el monitoreo de gasto calórico y
                 pulsaciones cardíacas, o cinturones de rastreo GPS.</p>
        </div>
        <div class="servicio-ind">
            <img src="static/img/aplicacion2.jpg" alt="" height="200px" width="200px">
            <h3 style="color: white;">Salud</h3>
            <p>Sensores conectados a los pacientes, permite a los médicos el seguimiento
                 de sus condiciones, fuera del hospital y en tiempo real.</p>
        </div>
        <div class="servicio-ind">
            <img src="static/img/aplicacion3.jpg"alt="" height="200px" width="200px">
            <h3 style="color: white;">Monitoreo de Tráfico</h3>
            <p>Los teléfonos móviles como sensores, que recolectan y comparten
             data a través de aplicaciones como Waze o Google Maps.</p>
        </div>
    </div>
</div>
</section>



  {%endblock%}