{% extends "Access/base.html" %}
{% block title %}Login System{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form action="" method="post" class="registro">
  <div class="input-contenedor">
    <i class="fas fa-envelope-square icon"></i>
      <input name="email" class="form-control" id="InputEmail"  placeholder="Enter email">
      
  </div>
    <div class="input-contenedor">
      <i class="fas fa-key icon"></i>
      <input type="password" name="password" class="form-control" id="InputPassword" placeholder="Password">
  </div>
  <button type="submit" class="button">Login</button>
</form>
{% endblock %}
