{% extends "Access/base.html" %}
{% block title %}Sistema de registro{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" id="mensaje" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}

<form action="" method="post" class="registro">
 <h1>Registrate</h1>
 <div class="contenedor">
   
  <div class="input-contenedor">
        
        <i class="fas fa-user icon"></i>
        <input name="fullname" class="form-control" id="inputFullName" aria-describedby="emailHelp" placeholder="Ingrese su nombre completo">
        
  </div>
  
  <div class="input-contenedor">
        
        <i class="fas fa-envelope-square icon"></i>
        <input name="email" class="form-control" id="InputEmail"  placeholder="Ingrese un email">
        
  </div>
  <div class="input-contenedor">
    
    <i class="fas fa-key icon"></i>
    <input type="password" name="password1" class="form-control" id="InputPassword" placeholder="Ingrese su contraseña">
  </div>

    <div class="input-contenedor">
    
    <i class="fas fa-key icon"></i>
    <input type="password" name="password2" class="form-control" id="InputPassword2" placeholder="Repita su contraseña">

    </div>
  <button type="submit" class="button">Registrate</button>
  <p>Al registrarte, aceptas nuestros terminos y condiones</p>
  <p>¿Ya tienes cuenta?<a class="link" href="/login">Iniciar sesión</a></p>


</div>
</form>



{% endblock %}

