body {
	background: #eee;
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: rgba(148, 148, 156, 0.747);
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(149, 165, 166, .3);
}
footer {
	margin-top: 20px;
	color: white;
}

/*Search*/


.topnav {
	overflow: hidden;
	background-color: #e9e9e9;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #2196F3;
	color: white;
  }
  
  .topnav .search-container {
	float: right;
	width: 60%;
  }
  
  .topnav input[type=text] {
	width: 90%;
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
  }
  
  .topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
  }
  
  .topnav .search-container button:hover {
	background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
	.topnav .search-container {
	  float: none;
	}
	.topnav a, .topnav input[type=text], .topnav .search-container button {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}
	.topnav input[type=text] {
	  border: 1px solid #ccc;  
	}
  }


  /*card*/

  .card_ipv4 {
	background-color: rgba(149, 165, 166, .3);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 50%;
  }
  
  .card_ipv4:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container .card_ipv4 {
	padding: 2px 16px;
	width: 90%;
  }


/*list_card*/
