{% extends "Access/base.html" %}{% block content %}


<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../static/img/ecu1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/img/ecu2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/img/ecu3.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <section class="post-list">
      <div class="content">
          <article class="post">
              <div class="post-header">
                  <div class="post-img-1">

                  </div>
              </div>
              <div class="post-body">
                  
                  <h5 class="card-title">El estado general del uso de móviles, Internet y redes sociales</h5>
                  <p>Ecuador tiene una población total de 17.77 millones de habitantes, siendo el 64,3% 
                    residentes de zonas urbanizadas.<br>
                    El número de dispositivos móviles conectados en el país es de 13.82 millones, lo que 
                    constituye un 77,8% de la población.
                  </p>
                  
                </div>
          </article>

          <article class="post">
            <div class="post-header">
                <div class="post-img-2">

                </div>
            </div>
            <div class="post-body">
                
              <h5 class="card-title">El crecimiento digital: enero 2020 vs enero 2021</h5>
                <p>La población incrementó un 1,5%,  mientras que las conexiones móviles han tenido un descenso del 10,1%.
                  <br>
                 Sin embargo, se incremento el uso internet de un 1.5%, integrando
                  a 147.000 de usuarios y se observo el aumento de usuarios de las redes sociales 16.7%,
                   lo que suma a 2 millones de perfiles nuevos.</p>
                
              </div>
        </article>

        <article class="post">
            <div class="post-header">
                <div class="post-img-3">

                </div>
            </div>
            <div class="post-body">
                
              <h5 class="card-title">Resumen general del uso de Internet en Ecuador</h5>
                <p>Ecuador tiene 10.17 millones usuarios de Internet, es decir, que el 57% 
                  de la población usa este servicio. En relación a enero del 2020 hubo un 
                  crecimiento del 1.5%, que es igual a 147 mil nuevos usuarios.</p>
                
              </div>
        </article>
      </div>
  </section>

{% endblock %}
