{% extends "Access/base.html" %}{% block content %}

<div class="container"></div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../static/img/ecu1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/img/ecu2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../static/img/ecu3.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <section class="post-list">
      <div class="content">
          <article class="post">
              <div class="post-header">
                  <div class="post-img-1">

                  </div>
              </div>
              <div class="post-body">
                  <span>1 Septiembre, 2021 | Proyecto Web</span>
                  <h2>HTML</h2>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates est iusto aperiam quaerat assumenda soluta reprehenderit officiis repudiandae, ipsum quis explicabo ad quisquam incidunt temporibus?</p>
                  <a href="#" class="post-link">Leer más...</a>
                </div>
          </article>

          <article class="post">
            <div class="post-header">
                <div class="post-img-2">

                </div>
            </div>
            <div class="post-body">
                <span>1 Septiembre, 2021 | Proyecto Web</span>
                <h2>HTML</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates est iusto aperiam quaerat assumenda soluta reprehenderit officiis repudiandae, ipsum quis explicabo ad quisquam incidunt temporibus?</p>
                <a href="#" class="post-link">Leer más...</a>
              </div>
        </article>

        <article class="post">
            <div class="post-header">
                <div class="post-img-3">

                </div>
            </div>
            <div class="post-body">
                <span>1 Septiembre, 2021 | Proyecto Web</span>
                <h2>HTML</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates est iusto aperiam quaerat assumenda soluta reprehenderit officiis repudiandae, ipsum quis explicabo ad quisquam incidunt temporibus?</p>
                <a href="#" class="post-link">Leer más...</a>
              </div>
        </article>
      </div>
  </section>

{% endblock %}
