{% extends "Access/base.html" %}{% block content %}


<section class="post-list">
	<div class="content">
		{% for item in items %}
		<article class="post1">
			
			<div class="post-body">
				
				<h5 class="card-title">Dirección: {{item.Direccion}}</h2>
					<ul class="list-group list-group-flush lista1">
						<li class="list-group-item">Fecha: {{item.Fecha}} </li>
						<li class="list-group-item">Pais: {{item.Localizacion.country_name}}</li>
						<li class="list-group-item">Ciudad: {{item.Localizacion.city}}</li>
						<li class="list-group-item">Codigo: {{item.Localizacion.region_code}}</li>
						<li class="list-group-item">Latitud: {{item.Localizacion.latitude}}</li>
						<li class="list-group-item">Latitud: {{item.Localizacion.longitude}}</li>
						<li class="list-group-item">Dominio: {{item.Dominio}}</li>
						<li class="list-group-item">Dns: {{item.Dns}}</li>
						<li class="list-group-item">Range Ipv4: {{item.Whois.asn_cidr}}</li>
						<li class="list-group-item">Descripción: {{item.Whois.asn_description}}</li>
					</ul>
				  
			  </div>
		</article>
		{% for x in item.puerto %}
		<article class="post2">
			

		  <div class="post-header">
			{% if x.Imagen%}
			<div>
				<img src="static/capturas/{{x.Imagen}}" class="img-fluid"/>
			</div>

			{% else %}
			<div class="caja-2"></div>

		  </div>
		  	{% endif %}


		  <div class="post-body">
			  
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Puerto: {{x.Puerto}}</li>
				{% if x.Banner == ""%}
				<li class="list-group-item"><p>Banner:</p> No hay información</li>
				{% else %}
				<li class="list-group-item"><p>Banner:</p> {{x.Banner}}</li>
				{% endif %}
				
			</div>
			
	  </article>
  	{% endfor %}
	  {% endfor %}

	</div>
  </section>

		{% endblock %}
