{% extends "Access/base.html" %}{% block content %}

<div class="box">
  <form action="{{ url_for('filter_info') }}" method="POST" role="form">
    
      <select id="cars" name="parameter">
        <option value="Dirección">Dirección:</option>
        <option value="Puerto">Puerto:</option>
        <option value="Cuidad">Cuidad:</option>
      </select>

      <input type="text" placeholder="¿Qué deseas buscar?" name="filter" />
      <input type="submit" name="" value="Search">
    
    
  </form>
</div>

<div class="saludo">
  <p>Hola! has iniciado sesion {{ email }}</p>
</div>

<div class="container-fluid" id="main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title">Lista de Direcciones Ipv4</h4>
          <p class="category">Cantidad de busquedas: {{ cantidades }}</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table >
              <thead>
                <tr>
                  <th>Dirección</th>
                  <th>Cuidad</th>
                  <th>Fecha</th>
                  <th>Puertos</th>
                </tr>
              </thead>
              {% for filter in filters %}
              <tbody>
                <tr>
                  <td>
                    <a href="{{ url_for('get_info', id= filter._id )}}">
                      {{ filter.Direccion }}
                    </a>
                  </td>

                  <td>{{ filter.Locatizacion.city }}</td>
                  <td>{{ filter.Fecha }}</td>

                  <td>
                    {% for x in filter.puerto %} {{x.Puerto}} {% endfor %}
                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
