{% extends "Access/base.html" %}{% block content %}

<section class="post-list">
  <div class="content">
      <article class="post">
          <div class="post-header">
              <div class="caja-1">

              </div>
          </div>
          <div class="post-body">
             
              <h5 class="card-title">Direcciones IPv4 asignadas en el Ecuador</h2>
              <h6># Direcciones IPv4 dentro de territorio Ecuatoriano</p>
                <li class="lista">2,780,345 </li>
                <a href="https://lite.ip2location.com/ecuador-ip-address-ranges?lang=es" class="btn btn-primary" target="_blank">Direcciones IPv4</a>
              <h6># Direcciones IPv4 encontradas: </p>
                {% for data in datos %}
                <li class="lista">{{ data.AllIPv4 }}</li>
                {%endfor%}
                
            </div>
      </article>

      <article class="post">
        <div class="post-header">
            <div class="caja-2">

            </div>
        </div>
        <div class="post-body">
            
          <h5 class="card-title">Dispositivos desplegados en el Ecuador</h5>
          <h6 >El número de dispositivos móviles conectados en el país es de 13.82 millones, lo que constituye un 77,8% de la población.</h6>
          <a href="/blog" class="btn btn-primary">Tecnologia 2020-2021EC</a>
          </div>
    </article>

    
  </div>
</section>

  {% if msgs %}
  <div class="saludo">
    <p>{{ msgs }}</p>
  </div>
  {% endif %}


  {% if error %}
  <div class="error">
    <p>{{ error }}</p>
  </div>
  {% else %}
  <p>{{ error }}</p>


{% if cities %}
<canvas id="myChart" min-width="400" min-height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for city in cities %} {{ city.Puerto}}, {% endfor %}],
        datasets: [{
            label: '# Puertos',
            data: [{% for city in cities %} {{city.Cantidad}}, {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
 {% endif %}



<div class="container-fluid" id="main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title"><strong>LISTA DE DIRECCIONES IPv4</strong></h4>
          {% for data in datos %}
          <p class="category"><strong>Se ha encontrado : {{ data.PuertoTrue }} Direcciones IPv4</strong></p>
          {% endfor %}
          <div class="box">
            <form action="{{ url_for('filter_info') }}" method="POST" role="form">
              
                <select id="cars" name="parameter">
                  <option value="Dirección">Dirección:</option>
                  <option value="Puerto">Puerto:</option>
                  <option value="Cuidad">Cuidad:</option>
                </select>
          
                <input type="text" placeholder="¿Qué deseas buscar?" name="filter" />
                <input type="submit" name="" value="Search">
          
            </form>
          </div>

          <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>Dirección</th>
                  <th>Cuidad</th>
                  <th style="width: 150px;">Fecha</th>
                  <th>Puertos</th>
                </tr>
              </thead>
              {% for filter in filters %}
              <tbody>
                <tr>
                  <td>
                    
          
                    {%if filter.Estado ==  False%}
                    {{ filter.Direccion }}
                    {% else %}
                    <a href="{{ url_for('get_ipv4', ip= filter.Direccion)}}">
                      {{ filter.Direccion }}
                    </a>
                    {% endif %}
                  </td>
          
                  <td>
                    
                    {{ filter.Localizacion.city }}

                </td>
                  <td style="width: 150px;">{{ filter.Fecha }}</td>
          
                  <td>
                    {%if filter.Estado ==  False%}
                      No hay Puertos
                    {% else %}
                    {% for x in filter.puerto %} 
                    {{x.Puerto}} 
                    {% endfor %}
                    {% endif %}
          
                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          
          </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endif %}

{% endblock %}
